@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@100&@700&display=swap');

/*Configuraciones generales*/
*{
    font-family:cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#bienvenida{
    text-align:center;
}

/* Estilos generales para el cuerpo de la página */
body{
    margin: 18px;
    padding:0;
    gap: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items:center;/* Centrar horizontalmente */
    background: #f8ab92;
}

/* Estilos para el contenido principal */
#inicio{
    display: flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    gap: 20px;
}

/* Estilos para el footer */
footer{
    background-color: #5e2a2a;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

/* Estilos para el juego*/
#game{
  visibility:hidden;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  border: 1px solid red;
}

#marcador{
    visibility:hidden;
    display:flex;
    flex-direction:column;
}

#game button {
    margin: 10px; 
    padding: 10px; 
}

/*Estilos de la tabla de puntuación*/
table,th,td{
    text-align: center;
    border : 1px solid black;
}
th,td{
    padding:10px;
}

.jugador{
    padding: 20px 50px;
    color: #ffffff;
    background-color: #f8ab92;
    z-index: 2;
    border: 3px solid;
}

.jugador:hover
{
    background-color: #001a2b;
    box-shadow: 0 0 20px #17a2ff;
    border-color: #17a2ff;
}
